*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: GeneralSans-Regular;
    
}

#main{
    
    max-width: 100%;
    overflow: hidden;
    color: white;
    
}
#cursor{
    height: 15px;
    width: 15px;
    background-color: rgb(255, 224, 250);
    opacity: 0.7;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
    transition: all linear 0.1s;
}
video{
    min-height: 100%;
    width: 100%;
    z-index: -1;
    position: fixed;
    object-fit: cover;
    opacity: 0.8;
    overflow: hidden;
}
#page1{
    width: 100%;
    height: 100%;
    z-index: 10;
    padding: 2vh 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
}
#hellocoins{
    height: 10vw;
    width: 100%;
    
    display: flex;
    justify-content: center;
    
}

#hellocoins h1{
    font-size: 12vw;
    font-weight: 700;
    
    opacity: 0.7;
    color: black;
    
}
#hellocoins h1:hover{
    color: rgba(216, 112, 147, 0.844);
    font-size: 15vw;
   
}


#page2real{
    height: 100%;
    width: 100%;
    z-index: 10;
    padding: 30vh 0vh;
}
#scroller{
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
    
}
#scroller1{
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#scroller h2{
    display: inline-block;
    font-size: 135px;
    font-weight: 900;
    font-family: gilroy;
    font-weight: 900;
    -webkit-text-stroke: 1px #95C11E;
    color: transparent;
    transition: all linear 0.5s;
}
#scroller h2:hover{
    color: goldenrod;
}

@keyframes scroll{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

#page2 {
    width: 100%;
    height: 100%;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#chamber1 {
    width: 100%;
    padding: 2vh;
    display: block;
    display: block;
    align-items: flex-start;
}

#text h1 {
    font-size: 6vh;
}

#text2 h1 {
    font-size: 3vh;
    padding: 1vh 0;
}

#chamber2 {
    width: 100%;
    height: fit-content;
    padding: 3vh 2vh;
}

#chamber2 img {
    height: 20vh;
    width: 20vh;
    opacity: 0;
}


#page3{
    width: 100%;
    height: 100%;
    z-index: 10;
    padding: 2vh 4vh;
    display: block;
    justify-content: space-evenly;
    gap: 3vw;
    

}
#first{
    
    width: 100%;
    padding: 2vh 2vh;
    display: flex;
    justify-content: space-evenly;
    
}
#second{
    
    width: 100%;
    padding: 2vh 2vh;
    display: flex;
    justify-content: space-evenly;
   

}   

#third{
   
    width: 100%;
    padding: 2vh 2vh;
    display: flex;
    justify-content: space-evenly;
    

}
#img1{
    height: 32vh;
    width: 30vh;
    position: relative;
    overflow: hidden;
    border-radius: 9px;
    
}
#img2{
    height: 32vh;
    width: 30vh;
    position: relative;
    overflow: hidden;
    border-radius: 9px;
    
}
#img3{
    height: 32vh;
    width: 30vh;
    position: relative;
    overflow: hidden;
    border-radius: 9px;
    
}
#img1 img{
    height: 32vh;
    width: 30vh;
    opacity: 0;
    
    transition: all linear 0.1s;


}
#img2 img{
    height: 32vh;
    width: 30vh;
    opacity: 0;
    
    transition: all linear 0.1s;


}
#img3 img{
    height: 32vh;
    width: 30vh;
    opacity: 0;
    
    transition: all linear 0.1s;


}

@media (max-width: 480px) {
    
    #hellocoins h1{
        font-size: 6vh;
        font-weight: 500;

    }
    #text{
        height: 3vh;
        width: fit-content;

    }
    #text h1 {
        font-size: 3vh;
        font-weight: 400;
        position: absolute;
    }
    #text2{
        height: 3vh;
        width: fit-content;
      
    }
    #text2  h1{
        font-size: 2vh;
        font-weight: 400;
        position: absolute;
    }
    #chamber2{
        height: 23vh;
        width: 23vw;
        position: absolute;
    }
    #chamber2 img{
        width: 23vh;
        height: 24vh;
        object-fit: cover;
    }
    #img1{
        height: 28vh;
        
        position: absolute;
        overflow: hidden;
        border-radius: 9px;
    }
    #img3{
        height: 28vh;
        
        position: absolute;
        overflow: hidden;
        border-radius: 9px;
    }
    #img2{
        height: 28vh;
       
        position: absolute;
        overflow: hidden;
        border-radius: 9px;
    }
    #img1 img{
        height: 28vh;
        width: 28vh;
        object-fit: cover;
    }
    #img2 img{
        height: 28vh;
        width: 28vh;
        object-fit: cover;
    }
    #img3 img{
        height: 28vh;
        width: 28vw;
        object-fit: cover;
    }
    #page2real{
        height: 100%;
        width: 100%;
        
    }
    #page2{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        z-index: 10;
   
    }
    #page3{
        height: 100%;
        width: 100%;
        z-index: 10;
        padding: 2vh 4vh;
        display: block;
        justify-content: space-evenly;
        gap: 3vw;
    }

    /* Add more responsive styles as needed */
}




